<?xml version="1.0" encoding="UTF-8"?>
<routes id="routes-a286165c-6264-490a-84cf-3d68767067f3" xmlns="http://camel.apache.org/schema/spring">
    <route id="_route1">
        <from id="_from1" uri="cxf:bean:endpointSOAP"/>
        <to id="_to01" uri="direct:logic"/>
    </route>
    <route id="_route2">
        <from id="_from2" uri="cxf:bean:endpointSOAPSecure"/>
        <to id="_to02" uri="direct:logic"/>
    </route>
    
    <route id="_route3">
        <from id="_from3" uri="direct:logic"/>
        <choice id="_choice2">
            <when id="_when4">
                <simple>${in.headers.CamelHttpMethod} == 'POST'</simple>
                <to id="_to1" uri="log:input"/>
                <setHeader headerName="soapOperation" id="_setHeader1">
                    <simple>${in.headers.CamelCxfMessage[javax.xml.ws.wsdl.operation].localPart}</simple>
                </setHeader>
                <convertBodyTo id="_convertBodyTo2" type="byte[]"/>
                <unmarshal id="_unmarshal1">
                    <jaxb
                        contextPath="com.bolivariano.pasivos.mensajepersonapas.v1"
                        encoding="utf-8" prettyPrint="true"/>
                </unmarshal>
                <choice id="_choice1">
                    <when id="_when1">
                        <simple>${in.headers.soapOperation} == 'validarRegistroCivil'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarRegistroCivil"/>
                    </when>
                    <when id="_when2">
                        <simple>${in.headers.soapOperation} == 'validarListaNegra'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarListaNegra"/>
                    </when>
                     <when id="_when3">
                        <simple>${in.headers.soapOperation} == 'validarClienteExiste'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarClienteExiste"/>
                    </when>
                    <when id="_when4">
                        <simple>${in.headers.soapOperation} == 'consultarDatosCliente'</simple>
                        <to id="_to2" uri="bean:personapas?method=consultarDatosCliente"/>
                    </when>
                     <when id="_when5">
                        <simple>${in.headers.soapOperation} == 'validarClientesInhabilitadosArchivosNegativos'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarClientesInhabilitadosArchivosNegativos"/>
                    </when>
                     <when id="_when6">
                        <simple>${in.headers.soapOperation} == 'otenerCatalogoHomologacionRC'</simple>
                        <to id="_to2" uri="bean:personapas?method=otenerCatalogoHomologacionRC"/>
                    </when>
                     <when id="_when7">
                        <simple>${in.headers.soapOperation} == 'validarExistenciaMedios'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarExistenciaMedios"/>
                    </when>
                    <when id="_when8">
                        <simple>${in.headers.soapOperation} == 'validarClienteImpedimento'</simple>
                        <to id="_to2" uri="bean:personapas?method=validarClienteImpedimento"/>
                    </when>
                    <when id="_when9">
                        <simple>${in.headers.soapOperation} == 'obtenerInformacioCliente'</simple>
                        <to id="_to2" uri="bean:personapas?method=obtenerInformacioCliente"/>
                    </when>
                    
                     <when id="_when9">
                        <simple>${in.headers.soapOperation} == 'verificarAviso24Activo'</simple>
                        <to id="_to2" uri="bean:personapas?method=verificarAviso24Activo"/>
                    </when>
                    
                     <when id="_when10">
                        <simple>${in.headers.soapOperation} == 'encerarDatosClientesMis'</simple>
                        <to id="_to2" uri="bean:personapas?method=encerarDatosClientesMis"/>
                    </when>
                    
                </choice>
                <!--to id="_to31" uri="bean:homologarMensaje"/-->
                <marshal id="_marshal1">
                    <jaxb
                        contextPath="com.bolivariano.pasivos.mensajepersonapas.v1" encoding="utf-8"/>
                </marshal>
                <to id="_to3" uri="log:output"/>
                <convertBodyTo id="_convertBodyTo1" type="javax.xml.transform.Source"/>
                <removeHeaders id="_removeHeaders1" pattern="*"/>
            </when>
        </choice>
    </route>
</routes>
